@use "sass:map";
@use "./base.scss" as misc;

$breakpoints-px: (
  phone-s: 321,
  phone: 481,
  tablet-sm: 600,
  tablet: 820,
  desktop-sm: 1150,
  desktop: 1200,
);

$breakpoints-min: $breakpoints-px;
@each $device, $px in $breakpoints-px {
  $breakpoints-min: map.set($breakpoints-min, #{$device}, misc.em($px));
}

$breakpoints-max: $breakpoints-px;
@each $device, $px in $breakpoints-px {
  $breakpoints-max: map.set($breakpoints-max, #{$device}, misc.em($px - 0.02));
}

@mixin query($breakpoints, $device, $rule, $landscape: false) {
  $size: map.get($breakpoints, $device);

  @if $size == null {
    @error "#{device} is not a valid device";
  }

  @if $landscape {
    @media screen and (orientation: landscape) and (#{$rule}: $size) {
      @content;
    }
  } @else {
    @media (#{$rule}: $size) {
      @content;
    }
  }
}

@mixin larger-than($device, $landscape: false) {
  @include query($breakpoints-min, $device, min-width, $landscape) {
    @content;
  };
}

@mixin smaller-than($device, $landscape: false) {
  @include query($breakpoints-max, $device, max-width, $landscape) {
    @content;
  };
}
